<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lconcise.mapper.UserMapper">

    <select id="selectPageVo" resultType="top.lconcise.business.domain.User">
        select * from sys_user
        WHERE true
        <if test="name != null and name !=''">AND `name` LIKE CONCAT('%',#{name},'%')</if>
    </select>

</mapper>